<div>

    <div>
        <h1 class="registration-header">ALM Octane Table Tennis Tournament 2018!</h1>
        <p>In the next few days we are about to conduct the first Octane tennis table tournament, if you would like to join us, fill your details below.</p>
    </div>

    <div class="login-form-container">
        <form class='login-form'>
            <div class="flex-row">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-envelope" title="Mail"></i></span>
                    <input type="text" pInputText placeholder="Mail" required>
                </div>
            </div>
            <div class="flex-row">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-lock" title="Password"></i></span>
                    <input type="text" pInputText placeholder="Password" type="password">
                </div>
            </div>
            <div class="flex-row">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-user" title="Nickname"></i></span>
                    <input type="text" pInputText placeholder="Nickname">
                </div>
            </div>
            <input class='lf--submit' type='submit' value='Register'>
        </form>
    </div>

</div>